.container{
    background: radial-gradient(rgb(185, 207, 88),rgb(221, 135, 37),rgb(85, 247, 11));
    text-align: center;
    background-image: url(bg-c.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
#block,#line{
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
.btn{
    margin-top: 10px;
}
#result{
    font-size: 3vh;
    font-family: sans-serif;
    /* background: orange; */
    margin-left: 5vh;
    
}